{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> header}}
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}


<div class="hide-for-small-only grid-container section-container">
<div class="orbit clean-hero-slider" role="region" aria-label="Services" data-orbit>
  <div class="orbit-wrapper">

    <ul class="orbit-container">

      <li class="orbit-slide">
      <figure class="orbit-figure">
          <img class="orbit-image" src="{{asset '/img/services-800x350.jpg'}}" alt="Ketch Partners Services">

        </figure>
      </li>

    </ul>
  </div>

</div>
</div>

<div class="grid-container services-page">
    <div class="grid-x grid-margin-x">
        <div class="cell large-12 section-container"  id="newsletter-sticky">

<header class="marketing-site-features">
  <div class="marketing-site-features-header-block" id="services-header-block">
  <h1 class="marketing-site-features-headline" id="services-header-headline">Services</h1>
  <div class="callout" id="services-header">

{{#markdown}}
<h3 class="text-center">Specializing in SAP Application and Database Products</h3>
We have deep domain expertise in managing large scale **SAP HANA** and IT programs. Our experience makes us Ketch an excellent choice to manage and lead large programs. We **collaborate** with you from pre-planning the **scope and budget** to leading the program. Our team will provide complete **confidence and visibility**. Our clients will tell you we become a trusted member of your team. We partner with you and deliver complete transparency. This ensures lower risk, reduced scope creep, and adherence to budget and timeline.
{{/markdown}}
<ul class="text-left">
<li>Deep industry experience in operations that facilitates SAP HANA project success.</li>
<li>Proprietary project methods and tools that increase visibility and awareness. Our approach reduces risk by driving deliverables to every aspect of the program from organizational change to technical and functional unit testing.</li>
<li>Strong global template projectexperience across every continent leveraging common processes and benefiting from economic **consolidations**: system and business support; shared services; common learning. </li>
<li>Collaborative approach to client relationships reduces costs: uncommon agility to work with client teams; use waterfall and agile methods simultaneously. </li>
<li>Deep tenure from our team averaging over 10 years in the business.</li>

<br>
<div class="hide-for-small-only expanded button-group">
  <a href="#services-projects-header" class="button secondary">Implementation and Integrations</a>
  <a href="#sevices-advisory-header" class="button secondary">Strategy and Advisory Services</a>
  <a href="#services-development-header" class="button secondary">Custom Development</a>
  <a ref="#services-support-header" class="button secondary">Application Support</a>
</div>
   </div>


  </div>
</header>

        {{#get "posts" filter="tags:Services"}}
           {{#foreach posts}}

                <div class="marketing-site-features">
                  <div class="marketing-site-features-header-block" id="services-support-block">
                        {{content}}
                  </div>

                 </div>
            {{/foreach}}
        {{/get}}

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
$(function() {
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
});
</script>
{{/contentFor}}